.body{
	margin: 0;
	padding:0;
}
.cuadrado{
	width: 200px;
	height: 200px;
	position: relative;
}
.rosado{
	background-color: #ee3e64;
}
.celeste{
	background-color: #44accf;
	position: relative;
	left: 200px;
}
.verde{
	background-color: #b7d84b;
}